@import 'styles/common';

.bestRecordContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 11rem;
  padding: 1rem;
  background: transparentize($light-purple, 0.9);
  border: solid 1px transparentize($light-purple, 0.5);
  border-radius: $basic-radius;
  &.modal {
    padding: 0.5rem;
    border: solid 1px transparentize($light-purple, 0.5);
  }
}

.title {
  margin-bottom: 0.5rem;
  color: $light-purple;
  font-size: 1rem;
  font-family: $bold-font;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
