.myPageFrame {
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

.pageTitle {
  font-size: 2rem;
}

.editButtonContainer {
  height: 2rem;
  display: flex;
  justify-content: end;
}

.editButton {
  border: solid;
  padding: 0.2rem;
}

.goToContainer {
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.goTo {
  border: solid;
  padding: 0.2rem;
}

.tabContainer {
  margin: 1rem;
  border: solid;
}