.myPageFrame {
  height: 80%;
  display: flex;
  flex-direction: column;
  //margin-top: 1rem;
}

.pageTitle {
  font-size: 2rem;
}

.editButtonContainer {
  height: 2rem;
  display: flex;
  justify-content: flex-end;
}