@import 'styles/common';

.profileCardContainer {
  display: grid;
  grid-column: 2 / 3;
  grid-template-rows: repeat(3, 1fr);
  height: 6rem;
  padding: 0.5rem;
  font-size: $basic-font-size;
  background: $dark-blue;
  &.modal {
    @include profileModal;
    height: 6rem;
  }
}

.profileField {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 0.5rem;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.fieldLabel {
  font-family: $bold-font;
}

.fieldContent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: start;
  width: 100%;
  &.Title {
    border: solid 0.5px $light-grey;
    border-radius: $basic-radius;
    padding-inline: 0.5rem;
  }
}

.titleDropdownContainer {
  display: flex;
  align-items: center;
}

.dropdownArrow {
  height: 1.2rem;
  color: $just-pink;
  font-size: 1.5rem;
  cursor: pointer;
}

.dropdownBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.2);
}
