@import 'styles/common';

.profileImageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: $just-purple;
  border: solid 0.5px $dark-purple;
  border-radius: $basic-radius;
  aspect-ratio: 1/1;
  form {
    position: absolute;
    bottom: 0;
    width: 100%;
    button {
      width: 100%;
      border: solid 0.5px $light-grey;
    }
  }
}

.profileImage {
  width: 100%;
  object-fit: fill;
  border-radius: $basic-radius;
  aspect-ratio: 1/1;
}
