@import 'styles/common';

.profileImageContainer {
  position: relative;
  width: 6rem;
  height: 6rem;
  form {
    position: absolute;
    bottom: 0;
    button {
      border: solid 0.5px $light-grey;
    }
  }
}

.profileImage {
  width: 6rem;
  height: 6rem;
  object-fit: fill;
  border: solid 0.5px $light-purple;
  border-radius: $basic-radius;
}
