@import 'styles/common.scss';

.profileContainer {
  display: grid;
  grid-auto-columns: 6rem 1fr;
  gap: 1rem;
  align-content: stretch;
  width: 100%;
}

.achievementsBox {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  background: $dark-blue;
}
