@import 'styles/common';

.rankTagContainer {
  display: flex;
  gap: 0.2rem;
  font-size: 0.8rem;
}

.purpleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.3rem;
  color: white;
  font-size: 0.8rem;
  background: $just-purple;
  border: solid 1px $light-purple;
  border-radius: $basic-radius;
  padding-inline: 0.5rem;
}
