@import 'styles/common';

.selectTabContainer {
  display: grid;
  gap: 1rem;
}

.itemsWrap {
  display: grid;
  gap: 1rem;
  align-content: stretch;
  align-items: stretch;
  width: 100%;
  padding: 1rem;
  background: $dark-blue;
}

.achieve {
  grid-template-columns: repeat(3, 1fr);
}

.emoji {
  grid-template-columns: repeat(4, 1fr);
}
