@import 'styles/common';

@mixin imageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
  img {
    width: 100%;
  }
}

.selected {
  @include imageBox;
  border: solid 2px $just-pink;
}

.unachieved {
  @include imageBox;
  border: solid 2px $dark-blue;
  opacity: 0.5;
  filter: grayscale(100%);
}

.empty {
  @include imageBox;
  border: solid 2px $dark-blue;
}

.itemImage {
  @include imageBox;
  object-fit: cover;
}
