@import 'styles/common';

.tierLpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.center {
    align-items: center;
  }
}

.tier {
  font-size: 1rem;
}

.lp {
  display: flex;
  gap: 0.3rem;
  align-items: baseline;
  font-size: 1.2rem;
  span {
    font-family: $bold-font;
  }
  span:last-child {
    font-size: 0.8rem;
  }
}
