@import 'styles/common';

.winRateStatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: $basic-font-size;
  margin-block: 0.3rem;
}

.winRate {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.2rem;
  div:first-child {
    margin-right: 0.2rem;
  }
  div:nth-child(2) {
    font-family: $bold-font;
  }
}

.winTieLose {
  margin-bottom: 0.2rem;
}

.gaugeBar {
  display: flex;
  width: 100%;
  height: 0.5rem;
}

.winGauge {
  background: $light-blue;
}

.loseGauge {
  background: $just-purple;
}
