@import 'styles/common';

.emojisContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: stretch;
}

.emojiWrap {
  position: relative;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.emojiWrap:hover {
  transform: scale(0.95);
}

.emoji {
  width: 100%;
  padding: 0.5rem;
  object-fit: cover;
  border: solid 1px white;
  border-radius: 0.5rem;
  cursor: pointer;
  aspect-ratio: 1/1;
  &.none {
    background: transparentize(white, 0.8);
  }
}

.emojiOverlay {
  position: absolute;
  right: 0.5rem;
  top: 0;
}
