.emojisContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  border: solid 0.2rem white;
}

.emoji {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  aspect-ratio: 1/1;
}
