@import 'styles/common';

.emojisContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: stretch;
}

.emojiWrap {
  position: relative;
}

.emoji {
  width: 100%;
  padding: 0.5rem;
  object-fit: cover;
  border: solid 1px white;
  border-radius: 0.5rem;
  cursor: pointer;
  aspect-ratio: 1/1;
  &.none {
    background: transparentize(white, 0.8);
  }
}

.emojiOverlay {
  position: absolute;
  right: 0.5rem;
  top: 0;
}

.emoji:hover {
  transform: scale(0.95);
}
