@import 'styles/common';

.prepareRoomContainer {
  @include pageWithHeaderContainer;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modeList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  gap: 1rem;
  width: 15rem;
}

.mode {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.radio {
  @include radioLabelWrap;
  font-size: 1.5rem;
}

.buttonList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  margin-bottom: 1rem;
  color: white;
  border: none;
  border-radius: $basic-radius;
}

.queue {
  height: 2.7rem;
  font-size: 1.3rem;
  background: $just-pink;
}

.queue:hover {
  font-size: 1.5rem;
}

.invite {
  height: 2.7rem;
  font-size: 1.3rem;
  background: $just-purple;
}

.invite:hover {
  font-size: 1.5rem;
}
