@import 'styles/common';

.gamePageContainer {
  @include pageContainer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: $basic-radius;
  all: unset;
}

.ladder {
  height: 2.7rem;
  font-size: 1.3rem;
  background: $just-pink;
}

.ladder:hover {
  font-size: 1.5rem;
}

.normal {
  height: 2.7rem;
  font-size: 1.3rem;
  background: $just-purple;
}

.normal:hover {
  font-size: 1.5rem;
}
