@import 'styles/common';

.gamePageContainer {
  @include pageWithHeaderContainer;
}

.gameContainer {
  @include pageContainer;
}

.pongFrameContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.gameLobbyContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 100%;
  margin-inline: auto;
}

.gameTypeBackButtonWrap {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5rem;
  .gameType {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
}

.modeList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: flex-start;
  padding-inline: 0.3rem;
  li {
    font-size: 1.1rem;
    list-style: none;
    label {
      @include radioLabelWrap;
    }
  }
}
