@import 'styles/common';

.matchProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
}

.profilePicture {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.nickname {
  font-weight: 800;
}

.level {
  color: gray;
  font-size: 0.8rem;
}

.vs {
  font-weight: 800;
  font-size: 1.5rem;
}
