@import 'styles/common';

.matchProfile {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.profile {
  display: flex;
  align-items: center;
}

.profileImg {
  width: 6vh;
  height: 6vh;
  margin-right: 1vh;
  border-radius: 50%;
}

.emojiPopup {
  width: 6vh;
  height: 6vh;
  margin-right: 1vh;
  border-radius: 50%;
  animation: shake 0.5s infinite;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.nickname {
  font-weight: 800;
}

.title {
  color: gray;
  font-size: 2vh;
}

.vs {
  font-weight: 800;
  font-size: 4vh;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
