@import 'styles/common';

.custom404Container {
  @include pageContainer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100dvh;
}

.title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  .icon404 {
    font-size: 3rem;
  }
}

.face {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.iconFace {
  font-size: 4rem;
}

.tooltip {
  position: relative;
  width: 7rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  white-space: nowrap;
  background-color: $just-purple;
  border-radius: 0.5rem;
}

.tooltip::before {
  position: absolute;
  top: 100%;
  left: 50%;
  border-color: $just-purple transparent transparent transparent;
  border-style: solid;
  border-width: 0.5rem;
  transform: translateX(-50%);
  content: '';
}

.message {
  font-size: 1rem;
  text-align: center;
}
