@import 'styles/records/RecordBox.module';
@import 'styles/common';

.matchDetailContainer {
  @include boxColumnGrid;
  width: 100%;
}

.duration {
  align-self: center;
  justify-self: center;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
}

.infographics {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
}

.ladderPoints {
  @include resultColumnGrid;
}

.ladderPointContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.lp {
  font-size: 0.9rem;
}

.lpChange {
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
  font-size: 0.7rem;
}

.increase {
  color: $light-blue;
}

.decrease {
  color: $just-pink;
}
