@import 'styles/common';
@mixin matchContent {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

@mixin matchLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin matchRight {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.match {
  margin-block: 0.05rem;
  width: 100%;
}

.win {
  background-color: $blue-ish;
}

.lose {
  background-color: $red-ish;
}

.tie {
  background-color: $grey-ish;
}

.matchBrief {
  @include matchContent;
}

.playedAt {
  font-size: 0.8rem;
  text-align: center;
}

.matchText {
  @include matchLeft
}

.matchVisual {
  @include matchRight;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
}
