@import 'styles/common.scss';

.recordsPageContainer {
  @include pageWithHeaderContainer;
  align-items: start;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
  form {
    margin-left: 0.5rem;
  }
}
