@import 'styles/common.scss';

.recordsPageContainer {
  @include pageWithHeaderContainer;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  form {
    margin-left: 0.5rem;
  }
}
