@import 'styles/common';

@mixin boxColumnGrid {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  gap: 1rem;
  width: 100%;
}

@mixin resultColumnGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.3rem;
}

.recordBoxContainer {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: $basic-radius;
  &.win {
    border: solid 1px $light-blue;
  }
  &.lose {
    border: solid 1px $just-pink;
  }
  &.tie {
    border: solid 1px $light-grey;
  }
}

.basicContent {
  @include boxColumnGrid;
  & img {
    border-radius: $basic-radius;
  }
}

.leftBox {
  display: grid;
  grid-template-rows: 1fr 2rem;
  align-items: center;
  justify-items: center;
  justify-self: center;
}

.typeTimeWrap {
  position: relative;
  .gameType {
    margin-bottom: 0.2rem;
    font-size: 1rem;
    font-family: $bold-font;
    text-align: center;
  }
  .playedAt {
    font-size: 0.8rem;
    text-align: center;
  }
  .gameDate {
    position: absolute;
    top: 100%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 1rem;
    color: black;
    font-size: 0.8rem;
    background: $light-grey;
  }
}

.playerScoreWrap {
  @include resultColumnGrid;
}

.detailArrow {
  font-size: 2rem;
  cursor: pointer;
}

.resultWrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.score {
  font-size: 1.1rem;
}

.resultText {
  width: 3rem;
  font-size: 0.8rem;
  text-align: center;
  border-radius: $basic-radius;
  &.win {
    color: $light-blue;
    border: solid 1px $light-blue;
  }
  &.lose {
    color: $just-pink;
    border: solid 1px $just-pink;
  }
  &.tie {
    color: $dark-grey;
    border: solid 1px $dark-grey;
  }
}
