.loginButtons {
  display: flex;
  flex-direction: column;
  button:nth-child(n) {
    margin-bottom: 1rem;
  }
  a {
    display: grid;
    grid-template-columns: 2.2rem 1fr;
  }
}

.logo {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  font-size: 1.2rem;
  place-self: end;
  img {
    height: 1.2rem;
  }
}

.string {
  font-size: 1rem;
}
