@import 'styles/common';

.homePageContainer {
  @include pageContainer;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.logo {
  font-size: 4.5rem;
  font-family: $logo-font;
}

.pageList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
}

.pageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: $basic-radius;
}

@media(hover: hover) and (pointer: fine) {
  .pageLink:hover {
    transform: scale(0.95);
  }
}

.special {
  height: 3.5rem;
  font-size: 1.8rem;
  background: $just-pink;
}

.basic {
  height: 2.7rem;
  font-size: 1.3rem;
  background: $just-purple;
}
