@import 'styles/common.scss';

.homePageContainer {
  @include pageContainer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pageList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
}

.pageLink {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 1.8rem;
}
