@import 'styles/common';

.modalBackdrop {
  @include backdrop;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 80vw;
  max-width: 20rem;
  max-height: 85dvh;
  padding: 1.5rem;
  color: black;
  font-size: $basic-font-size;
  background: white;
  border-radius: $basic-radius;
}

.modalHead {
  width: 100%;
}

.modalBody {
  width: 100%;
  overflow-y: auto;
}

.modalTail {
  display: flex;
  justify-content: center;
}

.modalBody::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.modalBody::-webkit-scrollbar-track {
  background: $just-grey;
  border-radius: 8px;
}

.modalBody::-webkit-scrollbar-thumb {
  margin-left: 3px;
  background: $light-grey;
  border-radius: 8px;
}

.modalTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  color: $just-purple;
  .title {
    font-family: $bold-font;
  }
}

.modalPhrase {
  line-height: 200%;
  text-align: center;
  img {
    width: 70%;
    aspect-ratio: 1/1;
  }
}

.closeButton {
  color: black;
  font-size: 1.8rem;
  cursor: pointer;
}

.InvitableFriendList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
}
