.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.pageList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-inline: 2rem;
}

.pageLink {
  margin-bottom: 3rem;
  font-weight: 700;
  font-size: 1.8rem;
}
