@import 'styles/common';

.meContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

.othersContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  .messageTimeWrap {
    margin-top: -0.7rem;
    margin-left: 2.5rem;
  }
  word-wrap: break-word;
  word-break: break-all;
}

.systemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
  background: transparentize($light-grey, 0.9);
  padding-block: 0.3rem;
  word-wrap: break-word;
  word-break: break-all;
}

.failContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}

.user {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  width: fit-content;
  cursor: pointer;
  .userImage {
    width: 2rem;
    border: solid 0.5px $light-purple;
    border-radius: 50%;
    aspect-ratio: 1/1;
    img {
      width: 100%;
    }
  }
}

.messageTimeWrap {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.time {
  margin-bottom: 0.2rem;
}

.message {
  width: fit-content;
  padding: 0.5rem 1rem;
  background: transparentize($light-grey, 0.7);
  border-radius: $basic-radius;
}
