@import 'styles/common';

.chattingsContainer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2.5rem;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  font-size: $basic-font-size;
  background: linear-gradient(to right bottom, $dark-purple, $just-purple);
  border-radius: $basic-radius;
  place-items: stretch;
}

.chatRefWrap {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-inline: 0.3rem;
}

.chatBoxes {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}

.chatBox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.preview {
  position: absolute;
  bottom: 4.3rem;
  left: 50%;
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 60vw;
  max-width: 20rem;
  padding: 0.7rem 1rem 0.5rem 1rem;
  color: black;
  background: $light-grey;
  border-radius: $basic-radius;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.ref {
  width: 100%;
  height: 0.3rem;
}
