@import 'styles/common';

.leaderboardPageContainer {
  @include pageWithHeaderContainer;
  grid-template-rows: 2rem;
}

.leaderboardFrame {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  padding-block: 1rem;
  hr {
    width: 100%;
    max-width: 38rem;
    border: 0.5px solid white;
  }
}
