@import 'styles/common';

.topLeadersContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 0.8rem;
	width: 100%;
	max-width: 30rem;
}

.leaderBox {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	gap: 0.5rem;
  width: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
	margin-bottom: 0.3rem;
  background: linear-gradient(to bottom, $just-yellow, $just-orange);
  border-radius: 0.2rem 0.2rem 0 0;
  .rank {
    height: fit-content;
    color: $dark-purple;
    font-family: $bold-font;
  }
  .triangle {
    position: absolute;
    bottom: -0.2rem;
    border-right: 2.4rem solid transparent;
    border-bottom: calc(0.8rem * 1.732) solid $dark-blue;
    border-left: 2.4rem solid transparent;
  }
}

.leaderProfile {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
	cursor: pointer;
	.leaderNickname {
		color: $just-grey;
		font-size: 1rem;
		font-family: $bold-font;
		height: 2rem;
		word-break: break-all;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 100%;
		padding-inline: 0.3rem;
	}
  .leaderImage {
    width: 3rem;
    height: 3rem;
    border: solid 1px $dark-purple;
    border-radius: $basic-radius;
		&.default {
			color: white;
			background: transparentize(white, 0.5);
			padding: 0.3rem;
		}
  }
	.lp {
		font-size: 1.4rem;
		font-family: $bold-font;
		color: white;
		height: 2rem;
		margin-top: 0.3rem;
	}
}

.first {
	height: 8rem;
  font-size: 2.8rem;
  // margin-block: 0.7rem;
}

.second {
	height: 6rem;
  font-size: 2.2rem;
  // margin-block: 0.5rem;
}

.third {
	height: 5rem;
  font-size: 1.8rem;
  // margin-block: 0.3rem;
}
