@import 'styles/common.scss';

.buttonRowContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, auto));
  gap: 1.5rem;
}

.fourButtonsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, auto));
  gap: 0.5rem;
  div:nth-child(1) {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;
  }
}

.small {
  width: 1.7rem;
  height: 1.5rem;
  border-radius: $basic-radius;
  cursor: pointer;
}

.short {
  width: 3rem;
  height: 2rem;
  border-radius: $basic-radius;
  cursor: pointer;
}

.thin {
  width: 6rem;
  height: 1.5rem;
  border-radius: $basic-radius;
  cursor: pointer;
}

.basic {
  width: 6rem;
  height: 2rem;
  border-radius: $basic-radius;
  cursor: pointer;
}

.big {
  width: 14rem;
  height: 3rem;
  border-radius: $basic-radius;
  cursor: pointer;
}

.black {
  color: white;
  background: black;
}

.white {
  color: black;
  background: white;
}

.flex {
  width: 100%;
  height: 2rem;
  border-radius: $basic-radius;
  cursor: pointer;
}
