@import 'styles/common';

/* fade in */

@keyframes fadeInAnimation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.fadeIn > ul {
  list-style: none;
  animation: fadeInAnimation 0.4s ease;
}

/* fade out */

@keyframes fadeOutAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.fadeOut > ul {
  list-style: none;
  animation: fadeOutAnimation 0.15s ease;
  animation-fill-mode: forwards;
}

.title {
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 99;
  width: 100%;
  max-height: 6rem;
  overflow-y: auto;
  background: $light-grey;
  li {
    display: flex;
    align-items: center;
    height: 1.5rem;
    color: black;
    border-bottom: solid 1px $dark-grey;
    padding-inline: 0.5rem;
  }
}

.friend {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 99;
  max-height: 6rem;
  overflow: hidden;
  overflow-y: auto;
  transform: translate(0%, 0%);
}

.channel {
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 99;
  max-height: 6rem;
  overflow: hidden;
  overflow-y: auto;
  transform: translate(0%, 0%);
}
