@import 'styles/common';

.invitationModal {
  display: grid;
  gap: 0.5rem;
  form {
    justify-self: flex-end;
    input {
      border: solid 1px $just-pink;
    }
  }
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.friendList {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  height: 50vh;
  overflow-y: auto;
}
