@import 'styles/common';

.invitationFrameContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 50dvh;
  overflow-y: auto;
  form {
    align-self: flex-end;
    input {
      border: solid 1px $just-pink;
    }
  }
}

.friendList {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
  overflow-y: auto;
}
