@import 'styles/common';

.pageHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  font-size: 1rem;
  border-bottom: solid 1px $just-pink;
  .title {
    padding-left: 0.3rem;
    font-family: $bold-font;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  margin-left: 1rem;
  cursor: pointer;
}
