@import 'styles/common';

.nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  button {
    background: none;
    border: none;
  }
}

.pagination {
  display: inline-block;
  padding: 0.3rem;
  color: $light-grey;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .pagination:hover {
    background: transparentize($light-grey, 0.5);
  }
}

.pettiNav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  button {
    background: none;
    border: none;
  }
}

.pettiPagination {
  display: inline-block;
  color: $just-purple;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .pettiPagination:hover {
    color: $dark-purple;
    transform: scale(0.85);
  }
}

.pettiPagination[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

.pagination[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination[aria-current] {
  font-family: $bold-font;
  background: $just-pink;
  transform: revert;
  cursor: revert;
}
