@import 'styles/common';

.nav {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  button {
    background: none;
    border: none;
  }
}

.pagination {
  display: inline-block;
  padding: 0.3rem;
  color: $light-grey;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination:hover {
  background: transparentize($light-grey, 0.5);
}

.pagination[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination[aria-current] {
  font-weight: bold;
  background: $just-pink;
  transform: revert;
  cursor: revert;
}
