@import 'styles/common.scss';

.searchBar {
  display: flex;
  justify-content: flex-end;
  width: 10rem;
  height: 1.8rem;
  color: black;
  background: white;
  border: none;
  border-radius: $basic-radius;
  padding-inline: 0.5rem;
}
