@import 'styles/common.scss';

.signUpPageContainer {
  @include pageContainer;
}

.signUpFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.signUpField {
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.nicknameInput {
  height: 1.8rem;
  padding-inline: 0.5rem;
}
