@import 'styles/common';

.localeFieldContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.3rem;
}

.radioButton {
  @include radioLabelWrap;
  width: fit-content;
}
