.localeFieldContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1rem;
}

.radioButtonContainer {
  display: flex;
  align-items: center;
  input {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  label {
    cursor: pointer;
  }
}
