@import 'styles/common';

.settingsContainer {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
  }
  li {
    display: grid;
    grid-template-columns: 6.5rem 1fr;
    gap: 0.5rem;
    height: 2.5rem;
    place-items: center stretch;
    form {
      margin-right: 0.5rem;
      margin-left: auto;
    }
  }
}

.listTopic {
  font-family: $bold-font;
}

.buttonContent {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}
