@import 'styles/common';

.channelBoxContainer {
  display: grid;
  grid-template-columns: 1fr 4rem;
  gap: 1rem;
  align-items: center;
  width: 100%;
  min-height: 2.5rem;
  padding: 0.3rem 1rem;
  overflow-x: auto;
  background: transparentize(white, 0.7);
  border-radius: $basic-radius;
  cursor: pointer;
  transition: background-color 0.3s;
}

.channelName {
  display: flex;
  align-items: center;
  word-break: break-all;
}

.headCount {
  justify-self: flex-end;
}

.channelBoxContainer:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.lockEmoji {
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
}
