@import 'styles/common';

.modalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: $basic-font-size;
  form {
    align-self: center;
    margin-top: 1.5rem;
  }
}

.settingFields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.settingField {
  display: grid;
  grid-template-columns: 5rem 1fr;
  gap: 0.5rem;
  align-items: center;
  justify-items: stretch;
  height: 2.5rem;
}

.fieldName {
  font-family: $bold-font;
}

.radioWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.3rem;
}

.radio {
  @include radioLabelWrap;
}

.input {
  height: 1.8rem;
  border: solid 1px $just-pink;
  border-radius: $basic-radius;
  padding-inline: 0.5rem;
}
