.modal {
  display: flex;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  align-self: center;
  margin-top: 1rem;
}

.input {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.text {
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: auto;
  padding: 1rem;
}

.radio {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  margin-left: 2rem;
}

.radio input[type='radio'] {
  margin-right: 0.3rem;
}

.info {
  margin-top: 0.2rem;
  color: red;
  font-size: 0.8rem;
}
