.modal {
  display: flex;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  align-self: center;
  margin-top: 1rem;
}
