@import 'styles/common';

.myChannelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  background: linear-gradient(to bottom, $just-pink, $just-purple);
  border-radius: $basic-radius;
  cursor: pointer;
  margin-inline: 0.5rem;
  padding-inline: 1rem;
}

@media (hover: hover) and (pointer: fine) {
  .myChannelContainer:hover {
    transform: scale(0.98);
    opacity: 0.9;
  }
}
