@import 'styles/common.scss';

.directMessagesContainer {
  height: 100%;
  overflow-y: auto;
}

.directMessageBox {
  display: grid;
  grid-template-columns: 3rem 1fr 2.5rem;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
  @include clickBox;
}

.profileImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.messageCount {
  @include alertCount;
}
