@import 'styles/common';

.statusOverlay {
  position: relative;
  width: 5rem;
  height: 5rem;
}

@mixin signalLight {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 10%;
  border: thin solid white;
  border-radius: 100%;
}

.online {
  @include signalLight;
  background: $green;
}

.offline {
  @include signalLight;
  background: $grey;
}

.inGame {
  @include signalLight;
  background: $violet;
}