@import 'styles/common.scss';

.notificationsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  overflow-y: auto;
}

.line {
  align-self: center;
  width: 100%;
  border: solid 1px $dark-grey;
  margin-block: 1rem;
}

.friendRequestBox {
  @include clickBox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.requestCount {
  @include alertCount;
}

.noRequestCount {
  background: $dark-grey;
}

.invitationsWrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.invitationBox {
  @include clickBox;
  display: grid;
  grid-template-rows: 1fr 2.2rem;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;
  padding: 1rem;
  color: black;
  cursor: unset;
  &.invisible {
    display: none;
  }
}

.notification {
  justify-self: start;
  line-height: 150%;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  align-self: end;
  justify-self: end;
}
