@import 'styles/common.scss';

.CodeContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  form {
    align-self: flex-end;
  }
}

.codeWrap {
  margin-right: 0.5rem;
  margin-left: 2.5rem;
}

.codeImage {
  width: 10rem;
  margin-bottom: 0.5rem;
  background: white;
}

.codeNumbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 2rem;
  padding-top: 0.2rem;
  color: $blue;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  text-align: center;
  background: white;
}
