@import 'styles/common';

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 3rem;
  font-size: 2rem;
  background: linear-gradient(to bottom, $just-purple, $dark-purple);
  padding-inline: 1rem;
  div {
    display: flex;
  }
}

.headerContainer > div > :first-child {
  margin-right: 0.8rem;
}

.iconNewDotWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.headerIcon {
  cursor: pointer;
}

.newDot {
  position: absolute;
  right: -5%;
  bottom: 5%;
  width: 0.8rem;
  height: 0.8rem;
  background: $just-pink;
  border: solid 1.5px $dark-purple;
  border-radius: 100%;
}
