@import 'styles/common.scss';

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 3rem;
  font-size: 2rem;
  background: linear-gradient(to bottom, $just-purple, $dark-purple);
  padding-inline: 1rem;
  div {
    display: flex;
    :first-child {
      margin-right: 0.8rem;
    }
  }
}

.headerIcon {
  cursor: pointer;
}
