.layoutContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.appLayoutContainer {
  display: grid;
  grid-template-rows: 3rem 1fr 5rem;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  padding-block: 1rem;
}

.pageContainer {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.pageContainer::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.pageContainer::-webkit-scrollbar-track {
  background: black;
}

.pageContainer::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
}
