.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  background: white;
  border-radius: 0.5rem;
}
