@import 'styles/common.scss';

.navigationBarContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 5rem;
  background: black;
}

.navigationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1rem;
  color: white;
  text-align: center;
  border-radius: $basic-radius;
}

.basic {
  flex: 1;
  font-size: 2rem;
  background: $violet;
}

.big {
  flex: 1.5;
  font-size: 1.5rem;
  background: $pink;
}
