@import 'styles/common';

.navigationBarContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: stretch;
  width: 100vw;
  height: 4rem;
  margin-bottom: 1rem;
  padding-inline: 1rem;
}

.buttonBackground {
  height: 4rem;
  background-image: linear-gradient($dark-blue, $dark-blue),
    linear-gradient(to right bottom, $just-purple, $just-pink);
  background-clip: content-box, border-box;
  background-origin: border-box;
  border: 2px solid transparent;
  border-radius: $basic-radius;
  cursor: pointer;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2.5rem;
  text-align: center;
}

.button:hover {
  font-size: 3rem;
}
