@import 'styles/common.scss';

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.sideBarBackdrop {
  @include backdrop;
  align-items: flex-end;
}

.sideBarContainer {
  display: grid;
  grid-template-rows: 2rem 2rem 1fr;
  gap: 1rem;
  align-items: center;
  width: 80vw;
  max-width: 20rem;
  height: 100vh;
  padding: 1rem;
  color: black;
  background: white;
  transform: translateX(0);
  animation: slideIn 0.3s ease-in-out;
}

.closeButton {
  font-size: 1.7rem;
  cursor: pointer;
}
