/* color */
$light-purple: #b66ff8;
$just-purple: #6804c6;
$dark-purple: #3a0071;
$light-blue: #00c4ff;
$just-blue: #032ddb;
$dark-blue: #10143a;
$just-green: #49f60d;
$just-yellow: #fdde2e;
$just-orange: #fd6710;
$light-pink: #f868e1;
$just-pink: #f71a6a;
$dark-pink: #b80043;
$light-grey: #f0f0f0;
$just-grey: #d4d4d4;
$dark-grey: #9a9a9a;

/* border-radius */
$basic-radius: 0.3rem;

/* font-size */
$basic-font-size: 0.9rem;

/* font */
$logo-font: 'SchizoidPersonality', serif;
$regular-font: 'TTLakesNeueTrialRegular', 'LeeSeoyun', sans-serif;
$bold-font: 'TTLakesNeueTrialBold', 'GeekbleMalang2WOFF2', sans-serif;

@mixin pageContainer {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

@mixin pageWithHeaderContainer {
  display: grid;
  grid-template-rows: 2rem 1fr;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding-inline: 1.5rem;
}

@mixin backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
}

@mixin clickBox {
  padding: 0.5rem;
  background: white;
  border-radius: $basic-radius;
  cursor: pointer;
}

@mixin alertCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 1.5rem;
  color: white;
  font-size: 0.8rem;
  background: $just-pink;
  border-radius: $basic-radius;
}

@mixin radioLabelWrap {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  input {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }
}

@mixin profileModal {
  background: none;
  border: solid 1px $just-purple;
  border-radius: $basic-radius;
}
