/* color */
$purple: #8f13fd;
$violet: #bd0fe0;
$pink: #ff00b6;
$mint: #27cfdc;
$yellow: #f8e71d;
$blue: #3355dd;
$blue-ish: #88aaff;
$red: #dd3344;
$red-ish: #ff88aa;
$grey: #888888;
$grey-ish: #bbbbbb;
$green: #33bb44;
/* border-radius */
$basic-radius: 0.3rem;

@mixin pageContainer {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

@mixin pageWithHeaderContainer {
  display: grid;
  grid-template-rows: 2rem 1fr;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding-inline: 1.5rem;
}

@mixin backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
