.gameResultDetailContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.gameRoundsBox {
  width: 100%;
}

.gameRoundsTitle {
  width: 100%;
}