@import 'styles/common';

.lpResultBarContainer {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.lpResultBarTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.lpChange {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.lp {
  width: 50%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.change {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0.3rem;
  font-size: 1.0rem;
}

.increase {
  color: $light-blue;
}

.decrease {
  color: $just-pink;
}